html, body {
    margin: 0;
    height: 100%;
}

.decks {
  min-height: 100%;
  min-width: 100%
}
.gradient {
  background: linear-gradient(#ddfbfc, #27f6fd)
}
audio {
  background-color: #b3fdff
}

#faderville {
  color: black;
}

.footer {
 position: fixed;
 bottom: 0;
}
.wut {
  margin-bottom: 50px;
}

.puff {
  padding-top: 10px
}

.hidden {
  visibility: hidden
}

.logo {
  height: 50px;
  width: 200px
}
